.ui-page.ui-body-c {
    background: url(background_blue.jpeg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}

.ui-footer {
    text-align: center;
    background-color: grey;
}

* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', regular;
}

.page-footer {
    height: 22%;
}